
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Healthtronics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Smith & Robot">
		
		<!-- CSS -->
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/bootstrap-responsive.css">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	
	<body>
		
		<div class="container">
			<div class="row">
				<div class="span12 page-top">
					<img class="logo" src="../images/logo_ht.png">
					<div class="nav-primary">
						<ul class="nav nav-pills">
							<li class="active"><a href="#">For Professionals</a></li>
							<li><a href="#">For Patients</a></li>
							<li><a href="#">Our Company</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<div class="header-bg clearfix">
						<ul class="nav nav-secondary clearfix">
							<li class="active"><a href="#">Services</a></li>
							<li><a href="#">Resources</a></li>
							<li><a href="#">Events</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
						<h1>Working for Urologists.<br/>Committed to patients.</h1>
						<p>Meet the company built by Urologists. We’re focused on two things, better economics for Urologists and better outcomes for patients. <a href="#">See how we work.</a></p>
					</div>
				</div>
			</div>
			<!-- /page-top -->
			
				<!-- <div class="large-mol-container"></div>
					<div class="small-mol-container"></div> -->
					
					<div class="row">
					  <div class="span12">
					    Level 1 of column
					    <div class="row">
					      <div class="span6" style="background-color: red;">Level 2</div>
					      <div class="span6" style="background-color: red;">Level 2</div>
					    </div>
					  </div>
					</div>
					
				
				<div class="row" style="background-color: red;">
					<div class="span13" style="background-color:blue;">
						<div style="padding: 20px">
							<div class="span6" style="background-color:yellow;">h</div>
							<div class="span6" style="background-color:orange;">
								<div style="margin-left: -20px">
									<div class="span3" style="background-color: black;">h</div>
									<div class="span3" style="background-color: black;">h</div>
									<div class="span3" style="background-color: yellow;">h</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			
		</div>
		<!-- /container -->
		
	</body>
		
	<!-- JS -->
	<script src="../js/bootstrap.js"></script>
</html>