
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Healthtronics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Smith & Robot">
		
		<!-- CSS -->
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/bootstrap-responsive.css">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	
	<body>
		
		<div id="white-stripe">
			<div class="container">
				<div class="row">
					<div class="span12 page-top">
						<a href="#"><img class="logo" src="../images/logo_ht.png"></a>
						<div id="nav-primary-move" class="nav-primary">
							<div class="accordion-menu-btn visible-phone">
								<a href="#" data-toggle="collapse" data-target="#accordion2">menu</a>
							</div>							
							<div class="hidden-phone">
								<div class="contact">
									<a href="#">contact us</a>
								</div>
								<div class="search">
									<div class="input-append">
										<input type="search" placeholder="Keyword Search" class="search-field"><button class="search-btn" type="button"><img src="../images/search.png"></button>
									</div>
								</div>
								<ul class="nav nav-pills">
									<li class="active"><a href="#">Physicians</a></li>
									<li><a href="#">Patients</a></li>
									<li><a href="#">Facilities</a></li>
									<li><a href="#">Company</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /white stripe -->
		
		<!-- ACCORDION -->
		<div class="accordion collapse visible-phone" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">Physicians</a>
				</div>
				<div id="collapse1" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
						<ul class="accordion-menu-ul">
							<li><a href="#">Lithotripsy</a></li>
							<li><a href="#">Laser Treatment</a></li>
							<li><a href="#">Cryotherapy</a></li>
							<li><a href="#">IT Solutions</a></li>
							<li><a href="#">Laboratory Solutions</a></li>
							<li><a href="#">Equipment Services</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">Patients</a>
				</div>
				<div id="collapse2" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
						<ul class="accordion-menu-ul">
							<li><a href="#">What We Do</a></li>
							<li><a href="#">For Cancer</a></li>
							<li><a href="#">For Stones</a></li>
							<li><a href="#">For Enlarged Prostate</a></li>
							<li><a href="#">Find an M.D.</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3" onclick="fetchFacilitiesURL()">Facilities</a>
				</div>
				<div id="collapse3" class="accordion-body collapse" style="height: 0px;"></div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">Our Company</a>
				</div>
				<div id="collapse4" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
						<ul class="accordion-menu-ul">
							<li><a href="#">Overview</a></li>
							<li><a href="#">TotalCare&trade;</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Events</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /ACCORDION -->
		
		<!-- submenu	 -->
		<div class="yellow-stripe">
			<div class="inner">
	   			<div class="container">
					<div class="row">
	   					<div class="span12">
	   						<div class="header-bg clearfix">
								<div class="row">
									<div class="span12">
	   									<ul class="nav nav-secondary clearfix">
											<li class="first leaf"><a href="/lithotripsy" title="Lithotripsy">Lithotripsy</a></li>
	   										<li class="leaf"><a href="#" title="Laser Treatments">Laser Treatments</a></li>
	   										<li class="leaf"><a href="#" title="Cryotherapy">Cryotherapy</a></li>
	   										<li class="leaf"><a href="#" title="IT Solutions">IT Solutions</a></li>
	   										<li class="leaf"><a href="#" title="Lab Solutions">Lab Solutions</a></li>
											<li class="last leaf"><a href="#" title="Equipment Services">Equipment Services</a></li>
	   									</ul>
									</div>
								</div>
								<div class="row">
									<div class="span7">
										<h1>
											Working for urology professionals.<br/>Dedicated to great outcomes.
										</h1>
									</div>
									<div class="span5">
										<p>
											HealthTronics is the urology solutions company<br/>built by urologists. Like you, we’re working for<br/>better economics, better patient care and better<br/>outcomes. <a href="#">More about our company</a>
										</p>
										<div class="share">
											<a href="javascript: return false;" data-toggle="collapse" data-target="#share"><div class="image"></div></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /submenu -->
		
		<!-- grey share -->
		<div id="share" class="share-molecule collapse">
			<div class="inner">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="share-headline">
								<img src="../images/arrow_share.png"> Share this page
							</div>
							<div class="row">
								<div class="span4">
									<label>Email to humans.</label>
									<input type="text" placeholder="To (email address)">
									<input type="text" placeholder="Sender's Email">						
								</div>
								<div class="span5">
									<div class="">
										<label>Message &amp; Preview:</label>
										<textarea>ivy@smithandrobot.com has shared a link with you: Hello, Here is the resources I mentioned at our last meeting. HealthTronics Technology Resources Library</textarea>
										<a class="share-email-btn">submit</a>
									</div>
								</div>
								<div class="span2">
									<!-- AddThis Button BEGIN -->
									<div class="addthis_toolbox addthis_default_style ">
									<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
									<a class="addthis_button_tweet"></a>
									<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
									<a class="addthis_counter addthis_pill_style"></a>
									</div>
									<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4faab0d16ed7d203"></script>
									<!-- AddThis Button END -->
								</div>
								<div class="span1">
									<div class="close-btn">
										<a href="#" data-toggle="collapse" data-target="#share"><img src="../images/close_btn.png"></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /grey share -->
		
		<div id="grey-stripe">
			<div class="inner">
				<div class="container">
					<div class="row">
						<div class="span12">
							<div class="row">
								<div id="large-mol-resize" class="span6">
									<div class="large-molecule">
										<a href="#">
										<div class="large-molecule-copy">
											<div class="inner">
												<h1>Urologists call it top-to-bottom, worry-free service. We call it Total Care.</h1>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
													Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
												<div class="icon icon-00"></div>
											</div>
										</div>
										</a>
									</div>
								</div>
								<div id="small-mol-resize" class="span6">
									<div id="small-mol-row" class="row">
										<div class="small-mol-resize-c span3">
											<a href="#">
												<div class="small-molecule mol-border-orange">
													<div class="inner">
														<h1>Lithotripsy</h1>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														<div class="icon icon-00"></div>
													</div>
												</div>
											</a>
										</div>
										<div class="small-mol-resize-c span3">
											<a href="#">
												<div class="small-molecule mol-border-green">
													<div class="inner">
														<h1>Laser Treatments</h1>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														<div class="icon icon-00"></div>
													</div>
												</div>
											</a>
										</div>
										<div class="small-mol-resize-c span3">
											<a href="#">
												<div class="small-molecule mol-border-blue">
													<div class="inner">
														<h1>Cryotherapy</h1>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														<div class="icon icon-00"></div>
													</div>
												</div>
											</a>
										</div>
										<div class="small-mol-resize-c span3">
											<a href="#">
												<div class="small-molecule mol-border-purple">
													<div class="inner">
														<h1>Technology Solutions</h1>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														<div class="icon icon-00"></div>
													</div>
												</div>
											</a>
										</div>
										<div class="small-mol-resize-c span3">
											<a href="#">
												<div class="small-molecule mol-border-yellow">
													<div class="inner">
														<h1>Laboratory Solutions</h1>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														<div class="icon icon-00"></div>
													</div>
												</div>
											</a>
										</div>
										<div class="small-mol-resize-c span3">
											<a href="#">
												<div class="small-molecule mol-border-grey">
													<div class="inner">
														<h1>Equipment Services</h1>
														<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
														<div class="icon icon-00"></div>
													</div>
												</div>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /service-molecules container -->
				
				
				
				<div class="container">
					<div class="row news-molecules">
						<div class="span6">
							<div class="news-molecule mol-color-orangelight">
								<div class="inner clearfix">
									<a href="#">
										<div class="date">
											<div class="month">JAN</div>
											<div class="day">21</div>
											<div class="year">2012</div>
										</div>
										<h1>HealthTronics has joined Endo Health Solutions</h1>
									</a>
									<div class="more-link"><a href="#">More News <div class="arrow"></div></a></div>
								</div>
							</div>
						</div>
						<div class="span6">
							<div class="email-molecule mol-color-grey">
								<div class="inner clearfix">
									<img src="../images/symbol_at.png" class="at">
									<div class="content">
										<h1>Sign up to receive email alerts.</h1>
										<p>Your address will stay private. Unsubscribe any time.</p>
										<form class="form-inline">
											<input id="email-field-top" type="text" class="email-field" style="width: 310px;" placeholder="Enter Your email address"><button type="submit" class="submit-btn">submit</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /news-molecules -->
				
				
				<div class="container">
					<div class="row stats-events-molecules" >
						<div id="stats-mol-resize" class="span6">
							<div class="stats-molecule">
								<div class="header clearfix">
									<h1>Stats</h1>
									<div class="more-link"><a href="#">More Company Info <div class="arrow"></div></a></div>
								</div>
								<div id="carousel" class="carousel">
									<div class="carousel-inner">
										<div class="item active">
											<div class="stat">
												<h1 class="color-purple">5,000</h1>
												<p>Lithotripsy procedures conducted in 2011</p>
											</div>
										</div>
										<div class="item">
											<div class="stat">
												<div class="stat">
													<h1 class="color-orange">4,000</h1>
													<p>Lithotripsy procedures conducted in 2011</p>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="stat">
												<div class="stat">
													<h1 class="color-green">3,000</h1>
													<p>Lithotripsy procedures conducted in 2011</p>
												</div>
											</div>
										</div>
									</div>
									<a class="left carousel-control" href="#carousel" data-slide="prev"></a>
									<a class="right carousel-control" href="#carousel" data-slide="next"></a>
								</div>
							</div>
						</div>
						<div id="events-mol-resize" class="span6">
							<div class="events-molecule">
								<div class="header clearfix">
									<h1>Events</h1>
									<div class="more-link"><a href="#">More News &amp; Events <div class="arrow"></div></a></div>
								</div>
								<div class="event clearfix">
									<div class="date mol-color-orange">
										<div class="month">MAR</div>
										<div class="day">3</div>
									</div>
									<div class="content">
										<h1><a href="#">16th Annual Scottsdale Prostate Cancer Symposium</a></h1>
										<time>Mar 3-6</time>
										<p>JW Marriott Camelback Inn, Scottsdale, AZ</p>
									</div>
								</div>
								<div class="event clearfix">
									<div class="date mol-color-orangelight">
										<div class="month">MAR</div>
										<div class="day">4</div>
									</div>
									<div class="content">
										<h1><a href="#">Oklahoma State Urological Association</a></h1>
										<time>Mar 4-5</time>
										<p>Doubletree Warren Place, Tulsa, OK</p>
									</div>
								</div>
								
								<div class="event last clearfix">
									<div class="date mol-color-yellow">
										<div class="month">MAR</div>
										<div class="day">5</div>
									</div>
									<div class="content">
										<h1><a href="#">Utah Urological Society Annual CME-Accredited Symposium</a></h1>
										<time>Mar 5-6</time>
										<p>Utah Urological Society Annual CME-Accredited Symposium 2011</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /grey stripe container -->
	
		<div id="footer">
			<div class="inner">
				<div class="container">
					<div class="row">
						<div class="span12">
						<div class="row">
						<div class="span6">
							<div class="row footer-links">
								<div class="span2 clearfix">
									<ul class="unstyled footer-ul">
										<li class="desc">For Professionals</li>
										<li><a href="#">Lithotripsy</a></li>
										<li><a href="#">Laser Treatment</a></li>
										<li><a href="#">Technology Solutions</a></li>
										<li class="bold"><a href="#">Resources</a></li>
										<li class="bold"><a href="#">Events</a></li>
										<li class="bold"><a href="#">Careers</a></li>
									</ul>
								</div>
								<div class="span2 clearfix">
									<ul class="unstyled footer-ul">
										<li class="desc">For Patients</li>
										<li><a href="#">What We Do</a></li>
										<li><a href="#">Prostate Cancer</a></li>
										<li><a href="#">Kidney &amp; Bladder Stones</a></li>
										<li><a href="#">Enlarged Prostate</a></li>
									</ul>
								</div>
								<div class="span2 clearfix">
									<ul class="unstyled footer-ul">
										<li class="desc">Our Company</li>
										<li><a href="#">Overview</a></li>
										<li><a href="#">Our Story</a></li>
										<li><a href="#">Our Vision</a></li>
										<li><a href="#">Total Care&trade;</a></li>
										<li><a href="#">Leadership</a></li>
										<li><a href="#">Investors</a></li>
										<li><a href="#">Endo Companies</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div id="email-mol-bottom-resize" class="span5 offset1">
							<div class="email-molecule">
								<div class="inner clearfix">
									<img src="../images/symbol_footer_at.png" class="at">
									<div class="content">
										<h1>Sign up to receive email alerts.</h1>
										<p>Your address will stay private. Unsubscribe any time.</p>
									</div>
									<form class="form-inline">
										<input id="email-field-bottom" type="text" class="email-field" style="width: 285px;" placeholder="Enter Your email address"><button type="submit" class="submit-btn">submit</button>
									</form>
								</div>
								<div class="logos clearfix">
									<a href="#"><img src="../images/logo_bottom_endo.png" class="endo"></a>
									<a href="#"><img src="../images/logo_bottom_ams.png" class="ams"></a>
									<a href="#"><img src="../images/logo_bottom_qualitest.png" class="qualitest"></a>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span12 hr"></div>
					</div>
					<div class="row">
						<div class="span12">
							<div class="row">
								<div class="span4 legal">© 2012 HealthTronics, Inc. All Rights Reserved.</div>
								<div class="span8 bottom-links">
									<a href="#">Sitemap</a>
									<a href="#">Corporate Compliance</a>
									<a href="#">Code of Conduct</a>
									<a href="#">Privacy Policy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
		
		
	</body>
	
		
	<!-- JS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/jquery.dotdotdot-1.4.0-packed.js"></script>
	
	<script>
		// DOCUMENT READY
		// ----------------------------------------------------------
		$(document).ready(function()
		{
			// ellipsis
			// ----------------------------------
	    	$(".small-molecule p").dotdotdot({
				wrap: 'word'
			});
			
			$(".large-molecule p").dotdotdot({
				wrap: 'word'
			});
			
			
			// carousel
			// ----------------------------------
			$('.carousel').carousel();
			
			
			// respond
			// ----------------------------------
			respond();
		});
		
		
		// WINDOW RESIZE
		// ----------------------------------------------------------
		$(window).resize(function()
		{
			respond();
		});
		
		
		function respond()
		{
			console.log($(window).width());
			
			
			if($(window).width() <= 979)
			{
				console.log("resize for <= 979");
				$("nav-primary-move").css("left", 400);
				
				$("#header-resize").css("font-size", 36);
				$("#header-resize").css("line-height", 1.2);
				$("#header-p-resize").css("font-size", 16);
				$("#header-p-resize").css("width", 290);
				
				$("#large-mol-resize").removeClass("span6").addClass("span12");
				$("#small-mol-resize").removeClass("span6").addClass("span12");
				$("#stats-mol-resize").removeClass("span6").addClass("span12");
				$("#events-mol-resize").removeClass("span6").addClass("span12");
				
				$(".small-mol-resize-c").removeClass("span3").addClass("span6");
				
				$("#email-field-top").css("width", 247);
				$("#email-field-bottom").css("width", 247);
				
				$("#email-mol-bottom-resize").removeClass("span5").removeClass("offset1").addClass("span6");
				
				
			}
			
			
			if($(window).width() >= 980)
			{
				console.log("resize for >= 980");
				
				$("#header-resize").css("font-size", 46);
				$("#header-resize").css("line-height", 1.1);
				$("#header-p-resize").css("font-size", 19);
				$("#header-p-resize").css("width", 330);
				
				$("#large-mol-resize").removeClass("span12").addClass("span6");
				$("#small-mol-resize").removeClass("span12").addClass("span6");
				$("#stats-mol-resize").removeClass("span12").addClass("span6");
				$("#events-mol-resize").removeClass("span12").addClass("span6");
				
				$(".small-mol-resize-c").removeClass("span6").addClass("span3");
				
				$("#email-field-top").css("width", 310);
				$("#email-field-bottom").css("width", 285);
				
				$("#email-mol-bottom-resize").removeClass("span6").addClass("offset1").addClass("span5");
			}
		}
	</script>

</html>