
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Healthtronics</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Smith & Robot">
		
		<!-- CSS -->
		<link rel="stylesheet" href="../css/bootstrap.css">
		<link rel="stylesheet" href="../css/bootstrap-responsive.css">
		
		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	
	<body>
		
		<div class="container" style="background-color: #FFFFFF; width: 100%;">
					<div class="container">
						<div class="row">
							<div class="span12 page-top">
								<img class="logo" src="../images/logo_ht.png">
								<div class="nav-primary">
									<div class="contact">
										<a href="#">Contact Us</a>
									</div>
									<div class="search">
										<div class="input-append">
											<input type="search" placeholder="Keyword Search" class="search-field"><button class="search-btn" type="button"><img src="../images/search.png"></button>
										</div>
									</div>
									<div class="nav-collapse">
										<ul class="nav nav-pills">
											<li class="active"><a href="#">For Professionals</a></li>
											<li><a href="#">For Patients</a></li>
											<li><a href="#">Our Company</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </a>
		<!-- /white stripe -->

		
		
			<div class="row-fluid">
				<div class="span12">
					<div class="row-fluid">
						<div class="span6">span6</div>
						<div class="span6">span6</div>
						<div class="span6">span6</div>
						<div class="span6">span6</div>
						<div class="span6">span6</div>
						<div class="span6">span6</div>
					</div>
				</div>
			</div>
		
		<div class="row-fluid" style="background-color: red; color: white">
		  <div class="span12">
		    Level 1 of column
		    <div class="row-fluid">
		      <div class="span6">Level 2</div>
		      <div class="span6">Level 2</div>
			</div>
			<div class="row-fluid">
				<div class="span6">Level 2</div>
				<div class="span6">Level 2</div>
		    </div>
		  </div>
		</div>
		
		
		<!-- ACCORDION -->			
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">Physicians</a>
				</div>
				<div id="collapse1" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
						<ul class="accordion-menu-ul">
							<li><a href="#">Lithotripsy</a></li>
							<li><a href="#">Laser Treatment</a></li>
							<li><a href="#">Cryotherapy</a></li>
							<li><a href="#">IT Solutions</a></li>
							<li><a href="#">Laboratory Solutions</a></li>
							<li><a href="#">Equipment Services</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">Patients</a>
				</div>
				<div id="collapse2" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
						<ul class="accordion-menu-ul">
							<li><a href="#">What We Do</a></li>
							<li><a href="#">For Cancer</a></li>
							<li><a href="#">For Stones</a></li>
							<li><a href="#">For Enlarged Prostate</a></li>
							<li><a href="#">Find an M.D.</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3" onclick="fetchFacilitiesURL()">Facilities</a>
				</div>
				<div id="collapse3" class="accordion-body collapse" style="height: 0px;"></div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">Our Company</a>
				</div>
				<div id="collapse4" class="accordion-body collapse" style="height: 0px;">
					<div class="accordion-inner">
						<ul class="accordion-menu-ul">
							<li><a href="#">Overview</a></li>
							<li><a href="#">TotalCare&trade;</a></li>
							<li><a href="#">News</a></li>
							<li><a href="#">Events</a></li>
							<li><a href="#">Careers</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- /ACCORDION -->
		
		
		<!-- VIDEO MODAL -->
		<a class="btn" data-toggle="modal" href="#videoModal" >Launch Modal</a>
		
		<div id="videoModal" class="modal hide fade" style="display: none;">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">×</button>
				<h3>Video Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
			</div>
			<div class="modal-body">
				<iframe width="794" height="404" src="http://www.youtube.com/embed/VGRQGm4-A4k?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="modal-footer">
				<a href="#modalCollapse" class="share-image"></a>
			</div>
		</div>
		<!-- /VIDEO MODAL -->
			
		
		
		
	</body>
	
		
	<!-- JS -->
	<script src="../js/jquery.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/jquery.dotdotdot-1.4.0-packed.js"></script>
	<script src="../js/jquery.fitvids.js"></script>
	<script src="../js/accordion.js"></script>
	
	<script>
		$(document).ready(function(){
			$("#videoModal").fitVids();
		})
	</script>
</html>